<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohtae.book_management.mapper.Book_info_mapper">
    <select id="getBookList" resultType="com.ohtae.book_management.data.BookVO">
        select bi_seq,bi_al_seq,bi_bc_seq,
        bi_title,bi_author,bi_page,bi_price,bi_stock,bi_like,bi_reg_dt, 
        bi_catP, bi_catC,al_name as bi_account 
        from 
        (select bi_seq,bi_al_seq,bi_bc_seq,
        bi_title,bi_author,bi_page,bi_price,bi_stock,bi_like,bi_reg_dt,
        bc_parent_category as bi_catP,bc_child_category as bi_catC  
        from book_info a join book_cat b on a.bi_bc_seq =b.bc_seq)c 
        join account_list d on c.bi_al_seq = d.al_seq
        where bi_title like #{keyword}
        order by bi_seq desc limit 30 offset #{offset}
    </select>
    <select id="getBookBySeq" resultType="com.ohtae.book_management.data.BookVO">
        select bi_seq,bi_al_seq,bi_bc_seq,
        bi_title,bi_author,bi_page,bi_price,al_name as bi_account
        from book_info a join account_list b on a.bi_al_seq = b.al_seq
        where bi_seq = #{seq}
    </select>
    <select id="getBookCounts" resultType="java.lang.Integer">
        select count(*) from book_info where bi_title like #{keyword}
    </select>
    <select id="getLatestBookHistorySeq" resultType="java.lang.Integer">
        select bi_seq from book_info order by bi_seq desc limit 1
    </select>
    <select id="getCategoryList" resultType="com.ohtae.book_management.data.BookCatVO">
        select bc_seq,bc_parent_category,bc_child_category from book_cat
    </select>



    <insert id="insertBookInfo">
        insert into book_info(bi_title,bi_author,bi_page,bi_price,bi_al_seq,bi_bc_seq)
        values (#{bi_title},#{bi_author},#{bi_page},#{bi_price},#{bi_al_seq},#{bi_bc_seq})
    </insert>
    <insert id="insertBookInfoHistory">
        insert into book_info_history(bih_type,bih_content,bih_bi_seq)
        values(#{bih_type},#{bih_content},#{bih_bi_seq})
    </insert>




    <update id="modifyBookInfo">
        update book_info set 
        bi_title=#{bi_title},bi_author=#{bi_author},bi_page=#{bi_page},
        bi_price=#{bi_price},bi_al_seq=#{bi_al_seq},bi_bc_seq=#{bi_bc_seq} 
        where bi_seq = #{bi_seq}
    </update>




    <delete id="deleteBookList">
        delete from book_info where bi_seq=#{seq}
    </delete>
</mapper>


