/* header.css */
.head_container{
    position:relative; 
}

.upper_side{
    padding: 15px 0; 
    background-color: rgb(0, 20, 26);
}
.upper_left{
    padding-left: 23px;
    display: inline-block;
}
.upper_left > a{
    background-color: rgb(226, 226, 226);
    color: #000;
    padding: 4px 6px;
    margin: 0 9px;
    border-radius: 100%;
    
}
.upper_left  i{
    position: relative;
    top: 3px;
    font-size: 25px; 
    left: 1px; 
}
.search_group{
    
    display: inline-block;
    margin-left: 5px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    border: 1px solid #444;
}
.search_group > input{  
    border: none;    
    background-color: transparent;
    padding-left: 10px;
    font-size: 14px;
    color: rgb(230, 230, 230);
}
.search_group > button{
    background-color: transparent;
    color: #fff;
    border-radius: 3px;
    border: 1.5px solid #444;
}
.search_group > button:hover{
    cursor: pointer;
}
.search_group i{
    position: relative;
    top: 0;
    font-size: 10px;
    color: #444;
}


.upper_mid{
    display: inline-block;
    margin-left: 15px;

}
.upper_mid > a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px;
} 
.upper_mid >a:last-child{
    padding-right: 50px;
}
.upper_mid  a:hover{
    color: #444;
    cursor: pointer;
}

.upper_right{
    display: block;
    float: right;
    position: relative;
    top: 10px;
    right: 40px;
}
.upper_right a{
    color: #fff;
    margin: 0 10px;
}


